
@{
    @model FieldAgent.ViewModel.AgentVM
    ViewBag.Title = "Add Agent";
}

<h2>Add Agent</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.FirstName)
            @Html.TextBoxFor(m => m.Agent.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Agent.FirstName)
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.MiddleName)
            @Html.TextBoxFor(m => m.Agent.MiddleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Agent.MiddleName)
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.LastName)
            @Html.TextBoxFor(m => m.Agent.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Agent.LastName)
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.BirthDate)
            @Html.TextBoxFor(m => m.Agent.BirthDate, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.Agent.BirthDate)
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.HeightIN)
            @Html.TextBoxFor(m => m.Agent.HeightIN, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(m => m.Agent.HeightIN)
        </div>
    </div>
    <h2>Agency</h2>
    <div class="form-row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.UserID)
            @Html.TextBoxFor(m => m.Agent.UserID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Agent.UserID)
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.Agency)
            @Html.DropDownListFor(m => m.Agent.Agency,
                Model.Agency.Select(i => new SelectListItem { Value = i.Agency, Text = i.Agency}),
                new { @class="form-control"})
            @Html.ValidationMessageFor(m => m.Agent.Agency)
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Security_Clearances)
            @Html.DropDownListFor(m => m.Agent.SecurityClearance,
                Model.Security_Clearances.Select(i => new SelectListItem { Value = i.Clearance, Text = i.Clearance}),
                new { @class="form-control"})
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.ActivationDate)
            @Html.TextBoxFor(m => m.Agent.ActivationDate, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.Agent.ActivationDate)
        </div>
        <div class="form-group col align-self-end">
            <div class="form-check">
                @Html.CheckBoxFor(m => m.Agent.IsActive, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.Agent.IsActive, new { @class = "form-check-label" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Agent.PictureUrl)
            @Html.TextBoxFor(m => m.Agent.PictureUrl, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-row col-lg-12">
        <button class="btn btn-primary" type="submit">Add Agent</button>
    </div>
}
